@{
    Layout = "~/Views/Profile/Index.cshtml";
}
@using HotelBook.Models;
@model customerProfile
<div class="col-md-9" style="height:50px;"></div>
@if (Session["Email"] != null)
{
    if (Session["Email"].ToString() == Model.customer.email)
    {
    <div class="col-md-4" style="height:50px;"></div>
        <div class="col-md-3" style="height:50px;">
            <a href="@Url.Action("album", "Profile", new { email = Model.customer.email })"><button class="btn btn-primary">Add New Album</button></a>
        </div>
    }
}


<div class="col-md-12 ">


    <table>
        @foreach (var album in Model.albums)
        {
            <tr>

                <a href="@Url.Action("albumView", "Profile", new { id = @album.name, email = Model.customer.email,number=@album.number })">
                       <div class="col-md-2" style="height:150px;border:5px solid highlight;border-radius:5px 5px;">
                           <img src="~/image/@album.image" style="width:100px;height:100px;"/>
                           <h4>@album.name</h4>

                       </div>
                <div class="col-md-1" style="height:20px;"></div>
                      
            </a>

            </tr>


        }
    </table>

    <div class="col-md-12" style="height:100px;"></div>  




</div>