@{
    Layout = "~/Views/Profile/Index.cshtml";
}
@using HotelBook.Models;
@model customerProfile

<div calss="col-md-12">

        
        <script type="text/javascript" src="~/Script/jquery-1.10.2.js"></script>
        
        <script type="text/javascript" src="~/Script/jquery.galleriffic.js"></script>
    <script type="text/javascript" src="~/Script/jquery.history.js"></script>

        
        <!-- Optionally include jquery.history.js for history support -->
        
    <script type="text/javascript" src="http://www.yoursite.com/somewhere/on/your/webserver/jquery-history/scripts/jquery.history.js"></script>
        
        <script type="text/javascript" src="~/Script/jquery.opacityrollover.js"></script>

    <script type="text/javascript">
  jQuery(document).ready(function($) {
// We only want these styles applied when javascript is enabled
$('div.navigation').css({'width' : '300px', 'float' : 'left'});
$('div.content').css('display', 'block');
// Initially set opacity on thumbs and add

// additional styling for hover effect on thumbs
var onMouseOutOpacity = 0.67;
$('#thumbs ul.thumbs li').opacityrollover({
  mouseOutOpacity:   onMouseOutOpacity,
  mouseOverOpacity:  1.0,
  fadeSpeed:         'fast',
  exemptionSelector: '.selected'
});

// Initialize Advanced Galleriffic Gallery
var gallery = $('#thumbs').galleriffic({
  delay:                     2500,
  numThumbs:                 15,
  preloadAhead:              10,
  enableTopPager:            true,
  enableBottomPager:         true,
  maxPagesToShow:            7,
  imageContainerSel:         '#slideshow',
  controlsContainerSel:      '#controls',
  captionContainerSel:       '#caption',
  loadingContainerSel:       '#loading',
  renderSSControls:          true,
  renderNavControls:         true,
  playLinkText:              'Play Slideshow',
  pauseLinkText:             'Pause Slideshow',
  prevLinkText:              '&lsaquo; Previous Photo',
  nextLinkText:              'Next Photo &rsaquo;',
  nextPageLinkText:          'Next &rsaquo;',
  prevPageLinkText:          '&lsaquo; Prev',
  enableHistory:             false,
  autoStart:                 false,
  syncTransitions:           true,
  defaultTransitionDuration: 900,
  onSlideChange:             function(prevIndex, nextIndex) {
// 'this' refers to the gallery, which is an extension of $('#thumbs')
this.find('ul.thumbs').children()
  .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
  .eq(nextIndex).fadeTo('fast', 1.0);
  },
  onPageTransitionOut:       function(callback) {
this.fadeTo('fast', 0.0, callback);
  },
  onPageTransitionIn:        function() {
this.fadeTo('fast', 1.0);
  }
});
  });
    </script>

      <script>
jQuery(document).ready(function($) {
    var gallery = $('#thumbs').galleriffic({
        delay:                     3000, // in milliseconds
        numThumbs:                 20, // The number of thumbnails to show page
        preloadAhead:              40, // Set to -1 to preload all images
        enableTopPager:            false,
        enableBottomPager:         true,
        maxPagesToShow:            7,  // The maximum number of pages to display in either the top or bottom pager
        imageContainerSel:         '', // The CSS selector for the element within which the main slideshow image should be rendered
        controlsContainerSel:      '', // The CSS selector for the element within which the slideshow controls should be rendered
        captionContainerSel:       '', // The CSS selector for the element within which the captions should be rendered
        loadingContainerSel:       '', // The CSS selector for the element within which should be shown when an image is loading
        renderSSControls:          true, // Specifies whether the slideshow's Play and Pause links should be rendered
        renderNavControls:         true, // Specifies whether the slideshow's Next and Previous links should be rendered
        playLinkText:              'Play',
        pauseLinkText:             'Pause',
        prevLinkText:              'Previous',
        nextLinkText:              'Next',
        nextPageLinkText:          'Next &rsaquo;',
        prevPageLinkText:          '&lsaquo; Prev',
        enableHistory:             false, // Specifies whether the url's hash and the browser's history cache should up<a href="http://www.jqueryscript.net/time-clock/">date</a> when the current slideshow image changes
        //enableKeyboard<a href="http://www.jqueryscript.net/tags.php?/Navigation/">Navigation</a>:  true, 
        autoStart:                 false, // Specifies whether the slideshow should be playing or paused when the page first loads
        syncTransitions:           false, // Specifies whether the out and in transitions occur simultaneously or distinctly
        defaultTransitionDuration: 1000, // If using the default transitions, specifies the duration of the transitions
        onSlideChange:             undefined, // accepts a delegate like such: function(prevIndex, nextIndex) { ... }
        onTransitionOut:           undefined, // accepts a delegate like such: function(slide, caption, isSync, callback) { ... }
        onTransitionIn:            undefined, // accepts a delegate like such: function(slide, caption, isSync) { ... }
        onPageTransitionOut:       undefined, // accepts a delegate like such: function(callback) { ... }
        onPageTransitionIn:        undefined, // accepts a delegate like such: function() { ... }
        onImageAdded:              undefined, // accepts a delegate like such: function(imageData, $li) { ... }

        onImageRemoved:            undefined  // accepts a delegate like such: function(imageData, $li) { ... }
    });
});
    </script>
    <div id="controls"></div>
    
    <div id="loading"></div>
    
    <div id="slideshow"></div>
    
    <div id="caption"></div>
    
    <div id="thumbs">
       
            
            <ul class="thumbs noscript">
                
                <li>
                    
                    <a class="thumb" name="optionalCustomIdentifier" href="path/to/slide" title="your image title">
                        
                        <img style="height:200px;" src="~/image/14292349_10207198668913441_8832297755565367251_n.jpg" alt="your image title again for graceful degradation" />
                        
                    </a>
                    
                    <div class="caption">
                        
                    </div>
                    
                </li>
                <li>

                    <a class="thumb" name="optionalCustomIdentifier" href="path/to/slide" title="your image title">

                        <img style="height:200px;" src="~/image/67567053-hotel-wallpapers.jpg" alt="your image title again for graceful degradation" />

                    </a>

                    <div class="caption">

                    </div>

                </li>
                
            </ul>
         

    </div>
    </div>



