@{
    Layout = "~/Views/Profile/Index.cshtml";
}
@using HotelBook.Models;
@model customerProfile
<link href="@Url.Content("~/Styles/Site.css")" rel="stylesheet" />
<div calss="col-md-12">

    
    

        <div class="slideshow-container">
@foreach (var album in Model.albumImage)
{
            <div class="mySlides fade">
                <div class="numbertext">1 / @Model.albumImage.Count</div>

                <img src="~/image/@album.image" style="width:100%">
                <div class="text">Caption Text</div>
            </div>

}


            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <br>

        

        <script type="text/javascript">
            var slideIndex = 1;
            showSlides();

            function plusSlides(n) {
                showSlides(slideIndex += n);
                showSlides();
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }



            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
            }
            

            function showSlides() {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) { slideIndex = 1 }
                slides[slideIndex - 1].style.display = "block";
                setTimeout(showSlides, 2000); // Change image every 2 seconds
            }
        </script>

   

</div>