@{
    Layout = "~/Views/Profile/Index.cshtml";
}
@using HotelBook.Models
@model customerProfile
    <div class="col-md-12" style="height:30px"></div>
<div class="col-md-2" style="height:30px"></div>
<div class="col-md-10" >
    <p>sfs</p>
</div>

