@{
    Layout = "~/Views/Shared/_Header.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<link href="~/Styles/Site.css" rel="stylesheet" />
<style>
    #hotel {
   border-radius:10px 10px;
    border:2px solid blue;

   
}
</style>

<div class="col-md-12" >
   
   


   
   
    <div class="col-md-12" style="position:absolute;">
        <!--
        <img style="width:100%;" src="~/image/67567053-hotel-wallpapers.jpg" />
            -->
            <div class="col-md-2" style="height:50px;"></div>

            <div class="col-md-10" style="height:500px;overflow:hidden;">
                <img class="mySlides" src="~/image/slide1.jpg" style="width:100%;height:500px">
                <img class="mySlides" src="~/image/udekki-hotel-kalpitiya-sri-lanka-conde-nast-traveller-pr.jpg" style="width:100%;height:500px">
                <img class="mySlides" src="~/image/d188349808824cb5776935ec8ed4bc64.jpg" style="width:100%;height:500px">
                <img class="mySlides" src="~/image/slide 3.jpg" style="width:100%;height:500px">
            </div>

            <script>
                var myIndex = 0;
                carousel();

                function carousel() {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    myIndex++;
                    if (myIndex > x.length) { myIndex = 1 }
                    x[myIndex - 1].style.display = "block";
                    setTimeout(carousel, 5000); // Change image every 2 seconds
                }
            </script>

          
        </div>
    <div class="col-md-12" style="position:absolute">
        <div class="col-md-2" style="height:50px;"></div>

        <div class="col-md-10" style="height:500px;background: linear-gradient(to right, black, transparent, transparent);">


        </div>
    </div>
    <div class="col-md-12" style="position:absolute">
        <div class="col-md-2" style="height:50px;"></div>

        <div class="col-md-10" style="height:500px;background: linear-gradient(to left, black, transparent, transparent);">


        </div>
    </div>
    <div class="col-md-4" style="opacity:0.9;">
        <div class="col-md-12" style="height:20px;">

        </div>

        <div class="col-md-12" >

            <div class="col-md-12" id="hotel" style="">
                <div class="col-md-12" style="height:70px;">
                    <div class="form-group">
                        <h2 style="color:gold;">Search</h2>
                    </div>
                </div>

                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline", role = "form", style = "color:white;" }))
            {

                    <div class="col-md-4" style="height:70px;">
                        <div class="form-group">
                            <p>Name</p>
                        </div>
                    </div>
                    <div class="col-md-8" style="height:70px">
                        <div class="form-group">
                            @Html.TextBox("searchstring", "", new { @class = "form-control" })
                        </div>
                    </div>
                            <div class="col-md-4" style="height:70px;">
                                <div class="form-group">
                                    <p>City</p>
                                </div>
                            </div>
                            <div class="col-md-8" style="height:70px">
                                <div class="form-group">

                                    @Html.TextBox("searchstring1", "", new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-md-4" style="height:70px;">
                                <div class="form-group">
                                    <p>Check In</p>
                                </div>
                            </div>
                            <div class="col-md-8" style="height:70px">
                                <div class="form-group">
                                    @Html.TextBox("searchstring2", "", new { type = "Date", @class = "form-control", style = "width:110%;" })
                                </div>
                            </div>

                            <div class="col-md-4" style="height:70px;">
                                <div class="form-group">
                                    <p>Check Out</p>
                                </div>
                            </div>
                            <div class="col-md-8" style="height:70px">
                                <div class="form-group">
                                    @Html.TextBox("searchstring2", "", new { type = "Date", @class = "form-control", style = "width:110%; " })
                                </div>
                            </div>
                            <div class="col-md-8" style="height:70px;">

                            </div>
                            <div class="col-md-2" style="height:70px">

                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>

                }


            </div>
        </div>
        <div class="col-md-12" style="height:50px;">

        </div>





    </div>

</div>