
@{
    ViewBag.Title = "Search";
	Layout = "~/Views/Shared/_Header.cshtml";
}

<h2>Index</h2>
<div class="row">
<div class="col-md-8">

</div>
<div class="col-md-4">
	<p>
    Search for any Hotel!!
</p>
<p>
@using (Html.BeginForm(FormMethod.Post)) {
   <p>
    Name: @Html.TextBox("searchstring")<br><br>
	City: @Html.TextBox("searchstring1")<br><br>
	Date : @Html.TextBox("searchstring2")
    <input type="submit" value="Search" /></p>
}
</p>

</div>
</div>

