@{

        ViewBag.Title = "Search";
        Layout = "~/Views/Shared/_Header.cshtml";
        }
        @using HotelBook.Models;
        @model List<Customer>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-4">

               

                @foreach (var item in Model)
                {
                    <div>
                        <a href="@Url.Action("post","Profile", new { email = item.email})">
                            <img src="~/image/@item.image" alt="" style="width:100px;height:100px" />

                            @item.name

                            @item.address
                        </a>
                    </div>

                }


            </div>
        </div>

